[Unit]
Description=Schedule squashutrechtautomatisch every Wednesday at 09:00

[Timer]
OnCalendar=Wed *-*-* 09:00:00
Persistent=true

[Install]
WantedBy=timers.target
